html {
  scroll-snap-type: y mandatory;
}

.App {
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: rgb(26, 25, 25);
  color: #fff;
}

.insta-logo {
  width: 20%;
  max-width: 200px;
}

.video-container {
  position: relative;
  height: 78vh;
  width: 70%;
  max-width: 500px;
  border-radius: 20px;
  overflow: scroll;
  scroll-snap-type: y mandatory;
  scrollbar-width: none;
}

.video-container::-webkit-scrollbar {
  display: none;
}

@media (max-width: 500px){
  .video-container {
    height: 70vh;
   
  }
}